<app-header></app-header>
<br>
<br>
<div class="container form-body alert alert-success alert-dismissable fade in text-center" *ngIf=showalertmessage>
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="CloseAlert()">&times;</a>
    <strong>Saved Successfully!!</strong>.
</div>
<div class="container">
    <h1 class="text-center label-color">User Data</h1>

    <div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]="registrationForm" (ngSubmit)="SaveRegistration(registrationForm)">
                <div class="well">
                    <div class="row">

                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label> First Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="John" class="form-control" formControlName="firstname" [(ngModel)]='userdetails.firstName'>
                                <div *ngIf="registrationForm.controls['firstname'].errors && !registrationForm.controls['firstname'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['firstname'].errors.required">*First Name is required.</div>
                                    <div [hidden]="!registrationForm.controls['firstname'].errors.pattern">*First Name is invalid.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Middle Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="Walt" class="form-control" formControlName="middlename" [(ngModel)]='userdetails.middleName'>
                                <div *ngIf="registrationForm.controls['middlename'].errors && !registrationForm.controls['middlename'].pristine" class="text-danger">

                                    <div [hidden]="!registrationForm.controls['middlename'].errors.pattern">*Middle Name is invalid.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label> Last Name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="Carter" class="form-control" formControlName="lastname" [(ngModel)]='userdetails.lastName'>
                                <div *ngIf="registrationForm.controls['lastname'].errors && !registrationForm.controls['lastname'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['lastname'].errors.required">*Last Name is required.</div>
                                    <div [hidden]="!registrationForm.controls['lastname'].errors.pattern">*Last Name is invalid.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Date of Birth :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="date" placeholder="DD/MM/YYYY" class="form-control" formControlName="dob" maxlength="10" [(ngModel)]='userdetails.dob'>
                                <div *ngIf="registrationForm.controls['dob'].errors && !registrationForm.controls['dob'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['dob'].errors.required">*DOB is required.</div>
                                    <div [hidden]="!registrationForm.controls['dob'].errors.pattern">*DOB is invalid.</div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Gender :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="radio" name="gender" value="male" checked> Male
                                <input type="radio" name="gender" value="female"> Female
                                <input type="radio" name="gender" value="others"> Others
                                <br>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Email :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="email" placeholder="abc@xyz.com" class="form-control" formControlName="email" [(ngModel)]='userdetails.email'>
                                <div *ngIf="registrationForm.controls['email'].errors && !registrationForm.controls['email'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['email'].errors.required">*email No. is required.</div>
                                    <div [hidden]="!registrationForm.controls['email'].errors.pattern">*email No. is invalid.</div>
                                    <!-- <div [hidden]="!registrationForm.controls['email'].errors.minLength < registrationForm.controls['email'].errors.minLength.requiredLength">*Mobile Length is insufficient.</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label> Mobile Number:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="9876543210" class="form-control" formControlName="mobile" maxlength="10" [(ngModel)]='userdetails.mobile'>
                                <div *ngIf="registrationForm.controls['mobile'].errors && !registrationForm.controls['mobile'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['mobile'].errors.required">*Mobile No. is required.</div>
                                    <div [hidden]="!registrationForm.controls['mobile'].errors.pattern">*Mobile No. is invalid.</div>
                                    <div [hidden]="!registrationForm.controls['mobile'].errors.minLength < registrationForm.controls['mobile'].errors.minLength.requiredLength">*Mobile Length is insufficient.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label> Landline Number:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="0123456789" class="form-control" formControlName="landline" maxlength="10" [(ngModel)]='userdetails.landline'>
                                <div *ngIf="registrationForm.controls['landline'].errors && !registrationForm.controls['landline'].pristine" class="text-danger">

                                    <div [hidden]="!registrationForm.controls['landline'].errors.pattern">*Landline No. is invalid.</div>
                                    <div [hidden]="!registrationForm.controls['landline'].errors.minLength < registrationForm.controls['landline'].errors.minLength.requiredLength">*Landline Length is insufficient.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label> Unique Id:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" placeholder="Unique Id" class="form-control" formControlName="unique" maxlength="16" [(ngModel)]='userdetails.uniqueId'>
                                <div *ngIf="registrationForm.controls['unique'].errors && !registrationForm.controls['unique'].pristine" class="text-danger">
                                    <div [hidden]="!registrationForm.controls['unique'].errors.required">*ID is required.</div>
                                    <div [hidden]="!registrationForm.controls['unique'].errors.pattern">*ID is invalid.</div>
                                    <div [hidden]="registrationForm.controls['unique'].errors.minLength < registrationForm.controls['unique'].errors.minLength.requiredLength">*ID Length is insufficient.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Relation:</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control">

                                    <option value="manager">Manager</option>
                                    <option value="user">User</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Marital Status :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="radio" name="Marital" value="Single" checked> Single
                                <input type="radio" name="Marital" value="Married"> Married
                                <input type="radio" name="Marital" value="Divorced"> Divorced
                                <br>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-4">
                                <label>Upload Image :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="pic" accept="image/*">
                            </div>
                        </div>
                        <div class="col-md-12 form-group text-center">
                            <br>
                            <button type="submit" class="btn btn-success btn-md pull-right">Next</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>