.img-resp{
    height: 110px;
    width: 130px;
    border-radius: 55px;
}

.login{
    padding-top:100px;

}

.wells{
    /* background-color: #0e3e56 !important; */
    border: 1px solid lightblue;
    border-radius: 20px;
    box-shadow: 4px 4px 5px lightblue;
}

