<div class="container login">
  <div class="col-md-12 text-center">
    <!-- <h2 class="glyphicon glyphicon-user"></h2> -->
     <!-- <h2 class='label-color'>Login</h2>  -->
  </div>
  <div class="col-md-12">
    <!-- <div class="col-md-4"></div> -->
    <div class="col-md-5 wells">
        <form [formGroup]="loginForm" (ngSubmit)="Login(loginForm)">
      <div class="row">
        <div class="col-md-12 text-center form-group">
          <a href="#" data-toggle="tooltip" title="Hi Guys!! Please fill below details to Login"> <img src="../assets/images/Capture1.png" alt="admin" class="img-resp"></a>
        </div>
        <div class="col-md-12 form-group">
          <div class="col-md-3">
            <label class='label-color'>Email:</label>
          </div>
          <div class="col-md-9">
            <input type="email" class="form-control" placeholder="Enter your email" formControlName='username'>
            <div class="text-danger" [hidden]="loginForm.controls['username'].valid || loginForm.controls['username'].pristine">*User Name is required.</div>
          </div>
        </div>
        <div class="col-md-12 form-group">

          <div class="col-md-3">
            <label class='label-color'>Password:</label>
          </div>
          <div class="col-md-9">
            <div class="input-group">
              <input type='password' class="form-control" *ngIf='showPass' [(ngModel)]='password' placeholder="Enter your password" formControlName='password'>
              <input type='text' class="form-control" *ngIf='!showPass' [(ngModel)]='password' placeholder="Enter your password" formControlName='password'>
              <span class="input-group-btn">
                <button *ngIf="!showPass" (click)="showPassword()" class="btn btn-secondary"><span class="glyphicon glyphicon-eye-close"></span> </button>
                <button *ngIf="showPass" (click)="showPassword()" class="btn btn-secondary"><span class="glyphicon glyphicon-eye-open"></span> </button>
              </span>
            </div>
            <div class="text-danger" [hidden]="loginForm.controls['password'].valid || loginForm.controls['password'].pristine">*Password is required.</div>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <div class="col-md-6" style='text-align:left'>
            <button class="btn btn-success btn-block"(click)=SignUp()>Sign Up</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary pull-right btn-block">Login</button>
          </div>

        </div>
      </div>
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>