<app-header></app-header>
<div class="container front-body">
  <div class="col-md-12 cards">
    <h1 class="text-center label-color">Welcome</h1>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="well">

        <div class="row label-head text-center">
          <h3> Plan The Meeting</h3>

          <div class="desc">
            You can plan your meeting with your collegue for discussions
          </div>

          
            <button class="btn btn-primary btn-lg btn-block btn-cursor" [routerLink]="['../meeting']">
              <span class="glyphicon glyphicon-pushpin"></span> Plan meeting</button>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="well">
        <div class="row label-head text-center">
          <h3> Fill your Priorities</h3>
          <div class="desc">
            You can Draft!! You can Save!! You can Submit!!
          </div>
            <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../priority']">
              <span class="glyphicon glyphicon-star-empty btn-cursor"></span> Fill Priority </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="col-md-12">&nbsp;</div>
  <div class="col-md-12">&nbsp;</div>
</div>