.front-body {
    margin-top: 20px;
}

.cards {
    margin-top: 50px;
}

.label-head {
    color: rgb(16, 5, 46);
}

.desc {
    margin-top:50px;
    color: rgba(52, 52, 53, 0.781);
    height: 60px;
}
.well {
    background-color:rgba(204, 204, 204, 0.705);
    border-width: 7px;
    border-color: rgba(16, 5, 46, 0.904);
    border-radius: 20px;
    }

.btn { 
    margin-top:150px;
    background-color:rgb(4, 44, 54);
    border-width: 1px;
    border-color: rgba(16, 5, 46, 0.904);
    border-radius: 7px;
    }

.btn-cursor{
    cursor: pointer
}
