.priority-body{
    margin-top: 50px;
    margin-bottom: 50px;
}
 .well{

background-color:rgba(204, 204, 204, 0.705)

}
/* .label-head{
    margin-top:2px;
    margin-right: 2px;
    color:rgba(0, 0, 0, 0.884);
    width: 55em;
    word-wrap: break-word;
} */
/* .desc
{
max-width:570px;
min-width: 570px;
min-height: 100px;
} */

.text{
    margin-top:2px;
    margin-right: 2px;
    color: rgba(52, 52, 53, 0.781);
    width: 55em; 
    word-wrap: break-word;
}