<app-header></app-header>

<div class=" container priority-body">
  <h1 class="text-center label-color">Priority</h1>

  <div class="col-md-12 cards">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <div class="well">
        <div class="row">
          <form>
            <div class="label-head  col-md-8">
              <p>Priorities are one of the most important things you should focus on to be your best self, professionally and
                personally. Priorities can be related to your role, team, business expectations, and personal commitments
                to your best self.
              </p>
            </div>
            <div class=" col-md-8">
              <label>Title of Priority*</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="col-md-8 ">

                <label>Target Start Date*</label>
                <p>Choose a start date that is relevant to what you want to achieve. For example, if your priority is specific
                  to a project, the date may represent a milestone deadline which is compared to the start date which is given. Other priorities may be longer term.</p>
  
                <input type="date" placeholder="DD/MM/YYYY" class="form-control" formControlName="startDate" maxlength="10">
  
              </div>


            <div class="col-md-8 ">

              <label>Target Completion Date*</label>
              <p >Choose a date that is relevant to what you are trying to achieve. For example, if your priority is specific
                to a project, the date may represent a milestone deadline. Other priorities may be longer term. Keep in mind
                the date is a target and can change as needed.</p>

              <input type="date" placeholder="DD/MM/YYYY" class="form-control" formControlName="endDate" maxlength="10">

            </div>
            <div class="col-md-12 ">
              <label>Description</label>
              <p>Write a brief description about how you plan to achieve your priority or what success looks like.</p>
              <textarea class="desc" placeholder="Enter the priority description"
                type="text"></textarea>
            </div>
            <div class="col-md-12 ">
              <div class="col-md-5">
                <button class="btn-lg btn-primary">Draft</button>
              </div>
              <div class="col-md-5">
                <button class="btn-lg btn-success">Save</button>
              </div>
              <div class="col-md-2">
                <button class="btn-lg btn-danger">Publish</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>