<div class="container">
  <h1 class="text-center">Meeting Booking</h1>
  <div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="meetingForm" (ngSubmit)="saveData(meetingForm)">
        <div class="well">
          <div class="row">
            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Start Date
                </label>
              </div>
              <div class="col-md-9">
                <input type="date" class="form-control" formControlName="meetingDate" min="{{todayDate}}" [(ngModel)]='startDate'>
                <div class="text-danger" [hidden]="meetingForm.controls['meetingDate'].valid || meetingForm.controls['meetingDate'].pristine">*Meeting Date is required.</div>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Start Time
                </label>
              </div>
              <div class="col-md-9">
                <input type="time" title="24 hour format" class="form-control" formControlName="meetingStartTime" [(ngModel)]='startTime'
                  (change)='startTimeChange(meetingForm)'>
                <div class="text-danger" [hidden]="meetingForm.controls['meetingStartTime'].valid || meetingForm.controls['meetingStartTime'].pristine">*Start Time is required.</div>
                <div class="text-danger" *ngIf='lessThanCurrentTime'>*Start Time is incorrect.</div>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Meeting Duration
                </label>
              </div>
              <div class="col-md-9">
          
                <select class="form-control" (change)="setTimeChange($event)" formControlName="meetingDuration">
                  <option *ngFor='let item of endTimeString' value={{item.val}}>{{item.text}}</option>
                </select>
               <div class="text-danger" [hidden]="meetingForm.controls['meetingDuration'].valid || meetingForm.controls['meetingDuration'].pristine">*Duration is required.</div> 
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Meeting End Time
                </label>
              </div>
              <div class="col-md-9">
                <input type="text" [attr.disabled]="true" class="form-control" formControlName="meetingEndTime" [(ngModel)]='meetingEndTime'>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Meeting Scheduler
                </label>
              </div>
              <div class="col-md-9">
                <input type="text" [attr.disabled]="true" class="form-control" formControlName="meetingScheduler" [(ngModel)]='meetingScheduler'>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-3">
                <label>
                  Meeting Attendees
                </label>
              </div>
              <div class="col-md-9">
                <div class="col-md-8">
                  <div class="panel-body border" style="overflow-y: scroll; height: 100px; width:100%">
                    <div class="mid-width wrapItems" style="height:100px">
                      <div *ngFor="let item of selectedAttendees; let i=index" width="100%">
                        <b>{{i+1}}&nbsp;-&nbsp;{{item.firstName}}&nbsp;{{item.middleName}}&nbsp;{{item.lastName}} </b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <ss-multiselect-dropdown [texts]="myTexts" [settings]="mySettings" [options]="userList" formControlName="meetingAttendee"
                    [(ngModel)]="selectedAttendeesId" (ngModelChange)="onChange($event)">{{userList.userId}}</ss-multiselect-dropdown>
                  <div class="text-danger" *ngIf='meetingAttendeeError'>*Attendee is required.</div>
                </div>
              </div>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-12">
                <button class="btn btn-primary">Back</button>
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Schedule Meeting</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row"></div>
  <div *ngIf="formSubmitted" class='text-center'>
      Your meeting has been scheduled on {{meetingDate}} at {{meetingStartTime}}
  </div>
</div>