/* .navbar-gray{
background-color: darkgray;

}

.navbar-gray .container-fluid .navbar-collapse > ul > li > a {
    color: black;
}

.navbar-gray .container-fluid .navbar-header > a {
    color:black;
}


ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {
    background:lightgrey;
}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li { 
  background:lightblue;
  display: block;
  border-bottom: 2px dotted black;
}
ul li ul li:last-child {
    border-bottom: none;
}

i {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top:5px;
}

ul li ul li:hover a i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid green;
    border-width: 0px 3px 3px 0;
}
.nav-toggle{
    background-color: black;
}

.nav-toggle span{
    background-color: white;
   
}
ul li:hover ul {display: block;} */
.footer-text{
    color: white;
}

.footer-pad{
    padding-top:6px;
}