<!-- <nav class="navbar navbar-gray">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle nav-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-home" routerLink=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="home">Home</a>
        </li>
        <li>
          <a routerLink="profile">My Profile</a>
        </li>
        <li>
          <a routerLink="registration">Registration</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location
            <!-- <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#Delhi">Delhi&nbsp;
                <i class="right pull-right"></i>
              </a>
            </li>
            <li>
              <a>Patna&nbsp;
                <i class="right pull-right"></i>
              </a>
            </li>
            <li>
              <a>Bangalore&nbsp;
                <i class="right pull-right"></i>
              </a>
            </li>
            <li>
              <a>Noida&nbsp;
                <i class="right pull-right"></i>
              </a>
            </li>
          </ul>
      </ul>
    </div>
    <div>
        </div>
  </div>
</nav> -->

<header>
  <nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a routerLink="" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/user">Update your Profile</a>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="">
              <span class="glyphicon glyphicon-user"></span> Sign Out</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>

<footer>
  <span class="navbar navbar-inverse navbar-fixed-bottom text-center footer-pad">
    <a class="footer-text">Accenture @ 2017</a>
  </span>
</footer>
