/* You can add global styles to this file, and also import other style files */
*{
    font-size: 14px;
}

body{
    background: url(../src/assets/images/bck1.jpg);
    background-size: cover;

}
.label-color{
    color: white;
}