<app-header></app-header> 

<div class="container address-body">
  <h1 class="text-center label-color">Address Data</h1>
  <div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="addressForm" (ngSubmit)="SaveAddress(addressForm)">
        <div class="well">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Address 1:
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" formControlName="address1" placeholder="Address Line 1" [(ngModel)]= 'address.address1'>
                <div class="text-danger" [hidden]="addressForm.controls['address1'].valid || addressForm.controls['address1'].pristine">*Address 1 is required.</div>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Address 2:
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" formControlName="address2" placeholder="Address Line 2" [(ngModel)]= 'address.address2'>
                <div class="text-danger" [hidden]="addressForm.controls['address2'].valid || addressForm.controls['address2'].pristine">*Address 2 is required.</div>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Pin Code
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" formControlName="zip" placeholder="Pin Code" maxlength=6  (ngModelChange)="PinCodeSearch(addressForm)" [(ngModel)]= 'address.pinCodeId'>
                <div *ngIf="addressForm.controls['zip'].errors && !addressForm.controls['zip'].pristine" class="text-danger">
                  <div [hidden]="!addressForm.controls['zip'].errors.pattern">*Pin Code is invalid.</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Village
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" [attr.disabled]='Isaddressdisabled' placeholder="Village" formControlName="village"
                  [(ngModel)]='address.village'>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Town
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" placeholder="Town" [attr.disabled]="Isaddressdisabled" formControlName="town" [(ngModel)]='address.town'>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  District
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" placeholder="District" [attr.disabled]="Isaddressdisabled" formControlName="district"
                  [(ngModel)]='address.district'>
              </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  State
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" placeholder="State" [attr.disabled]="Isaddressdisabled" formControlName="state" [(ngModel)]='address.state'>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-3 col-xs-4 col-sm-4">
                <label>
                  Country
                </label>
              </div>
              <div class="col-md-9 col-xs-8 col-sm-8">
                <input type="text" class="form-control" placeholder="Country" [attr.disabled]="Isaddressdisabled" formControlName="country"
                  [(ngModel)]='address.country'>
              </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 form-group">
              <div class="col-md-12">
                <button class="btn btn-primary" (click)="BackAddress()">Back</button>
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>